@model IndexViewModel

<div class="pages">
    @if (Model.PageNumber > 1)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
           asp-route-search="@Model.Search" asp-route-pageNumber="@(Model.PageNumber-1)"> Prev </a>
    }
    @foreach (var p in Model.Pages)
    {
        string activeClass = p == Model.PageNumber ? "active" : "";
        if (p == -1)
        {
            <span class="three-dots">
                ...
            </span>
        }
        else
        {

            <a class="@activeClass" asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
               asp-route-search="@Model.Search" asp-route-pageNumber="@p"> @p </a>
        }
    }

    @if (Model.NextPage)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
           asp-route-search="@Model.Search" asp-route-pageNumber="@(Model.PageNumber+1)"> Next </a>
    }
</div>